.Answers-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 5rem;
}

.Answers-container > p, .answers-heading {
    text-align: center;
}
.Answers-container > p{
    margin-block: 10px

}

.answers-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-block: 10px;
}

.Answers-container > p{
    font-size: 1.5rem;
}

/* answers content */

.container-answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.item{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    line-height: 1.8;
}

.item h3{
    font-size: 4rem;
    font-weight: 450;
    line-height: 1;
    color: rgba(223, 179, 34, 0.781);
}

.item-2 h3{
    color: rgb(51, 52, 53);
}
.item-3 h3{
    color: rgb(181, 52, 35);
}
.item-4 h3{
    color: rgb(128, 141, 153);
}
.item-5 h3{
    color: rgb(55, 135, 83);
}

.asnwers-main{
    font-weight: 700;
}

.answer-quote{
    display: block;
    margin: 1rem 0;
    font-weight: 420
}

.faith-heading{
    font-weight: 550
    
   
}

.faith-box{
    padding: 0 16px ;
    margin-block: 1rem;
    border-left: 2px solid rgb(36, 36, 36);
}

@media (max-width: 760px){
    .item{
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
}

@media (max-width : 1000px){

 


    .container-answers{
        grid-template-columns: 1fr;
    }
}