.events-container{
    padding: 5rem;
    color: white;
}

.events-container hr{
    margin-left: -81.999px;
    width: 0;

}

.events-container hr::after{
        content: "";
        width: 50vw;
        height: 2px;
        background-color: aliceblue;
        position: absolute;
        left: 0;
}



 

@media(max-width: 560px){

    .events-container{
        margin-top: 0;
        background:  url("/images/large_crowd.jpg") no-repeat top center;
        position: relative;
        background-size: cover ;
        
    }
}


@media(min-width: 560px){

    .events-container{
        margin-top: -50px;
        background:  url("/images/large_crowd.jpg") no-repeat;
        position: relative;
        background-size: cover ;
        background-position: center;
    }
}


@media (min-width: 760px){

    .events-container{
        margin-top: -50px;
        background:  url("/images/large_crowd.jpg") no-repeat;
        position: relative;
        background-size: cover ;
        background-position: center;
    }
}
