    .event{
        display: flex;
        justify-content: space-around;
        align-items:center;
        padding: 1rem;
        margin-block: 10px;
        
    }

    .img{
        flex: 1;
        margin-inline: 10px;
    }


    .info{
        flex: 2;
    }
    
    .info{
        margin-bottom: 20px;
    }

    @media (max-width: 675px){
            .event{
                flex-direction: column;
                text-align: center;
               
            }
    }
