.header {
  background: #ffffff;
  color: #333;
  width: 100%;
  height: 5.5rem;
  position: fixed;
  z-index: 100;
  top: 0;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding: 1rem;
}

.container nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.container nav ul {
  display: flex;
  position: absolute;
  list-style: none;
  gap: 1rem;
  top: 30px;
  right: 16px;
}
.container nav ul li p {
  color: #000000;
}

.active{
  z-index: 100;
}

.navIcon {
  display: none;
}

.btn_nav{
  display: flex;
  justify-content: center;
}
.btn_nav h3{
  color: #000000;
}

@media (max-width: 830px) {
  .navIcon {
    margin-left: auto;
    transform: translateY(-45px);
  }
  .header nav ul li p {
    margin-right: 20px;
    text-align: center;
    color: rgb(42, 42, 42);
  }
  
  .btn_nav {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }

  .navbar_container_menu {
    width: 14rem;
    left: -110%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-top: 4rem;
  }
  .active {
    left: 50%;
    border: #ead67d;
    opacity: 1;
    bottom: 0;
    transition: all 0.5s ease;
  }
  

  .header ul {
    background: #fbf1e5;
    text-align: center;
    padding-inline: 9rem;
    padding-block: 2rem;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 10px;
  }

  .navIcon {
    font-size: 30px;
    display: block;
    position: relative;
    cursor: pointer;
    fill: #d2c27a;
  }
}
