.header {
    margin: 1rem 0;
    background: #fff;
    color: #333;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .container{
    display: flex;
    position: relative;
    padding: 0 30px;
    justify-content: space-between;
    

  }

  .container h2{
    margin-top: 3px;
  }
  



  
  .header a {
    color: #333;
    margin-right: 20px;
  }
  
  .header a:hover {
    color: #000;
  }

  
  .header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
  }

  .btnNav{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative; 
    margin-top: 5px;
  }
 
  

  .header nav{
    margin: 0 auto;
    position: absolute;
    left: 35%;
  }

  .navIcon{
    display: none;
}

@media  (max-width: 768px) {
   .navbar_container_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    top: 80px;
    left: -110%;
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .active{
      background: #181818;
      left: 0%;
      opacity: 1;
      z-index: 1;
      transition: all 0.5s ease;
  
  }
  .header nav{
    border-bottom: 1px solid #282828;
    margin: 0px;
    padding: 20px 0px;


}



  
  .navIcon{
    font-size: 30px;
        display: block;
        cursor: pointer;
        fill: var(--yellow-main-color);
  }

}
