.header {
    background: #fff;
    color: #333;
    width: 100%;
    padding-top: 5px;
    height: 4.5rem;
    position: fixed;
    inset: 0;
    z-index: 100;
  }

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em ;

  }

  .container h2{
    margin-top: 3px;
  }
  
  .header a {
    color: #333;
    margin-right: 20px;
  }
  
  .header a:hover {
    color: #000;
  }

  
  .header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
  }

  
  .navIcon{
    display: none;
}


.btn_nav{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
  list-style: none;
}

@media  (max-width: 768px )  {
  .header nav a {
    margin-right: 20px;
    text-align: center;
    position: relative;
    color: white;

  }


  .btn_nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }


 
   .navbar_container_menu, .nav{
   display: flex;
   flex-direction: column;
   justify-content: center;
    width: 90%;
    top: 80px;
    left: -110%;
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease;
    
  }
  .active{
      background: #a39468;
      left: 5%;
      border: #ead67d;
      opacity: 1;
      z-index: 1;
      transition: all 0.5s ease;
  
  }

  .header ul{
    flex-direction: column;
    justify-content: center;

  }
  
  .navIcon{
    font-size: 30px;
        display: block;
        position: relative;
        cursor: pointer;
        fill: #d2c27a;
  }

}
