.pastor-wrapper {
  min-height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pastor-wrapper-content {
  position: relative;
  background: url("/images/church-background.jpg") center bottom no-repeat;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1.5rem 0;
  margin-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  position: absolute;
}

.pastor-wrapper-content::after {
  content: "";
  position: absolute;
  background-color: rgba(78, 69, 58, 0.372);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.pastor-heading {
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}

.pastor-heading::after {
  content: "";
  width: 20rem;
  background-color: #fff;
  height: 2px;
  transform: translateX(23px);
  position: absolute;
  bottom: 0;
  left: 0;
}

.swiper {
  width: 52vw;
  height: 45vh;
}

.swiper-slide {
  text-align: center;

  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 4px;
  position: relative;
}

.pastors-label-1 {
  transform: translateY(-60px) translateX(25px);
}

.pastors-label-2 {
  transform: translateY(-77px) translateX(25px);
  font-weight: 600;
  font-size: 2.5rem;
}

.md-txt {
  font-size: 2.3rem;
}
@media (max-width: 1000px) {
  .swiper {
    width: 87vw;
    height: 45vh;
  }
}

@media (max-width: 740px) {
  .swiper {
    width: 85vw;
    height: 45vh;
  }

  .p-container {
    transform: translateX(-15px);
  }
  .pastor-heading::after {
    min-width: 200px;
    width: 270px;
  }

  .md-txt {
    font-size: 2rem;
  }
}

@media (max-width: 559px) {
  .swiper {
    width: 86vw;
    height: 45vh;
  }

  .sm-txt {
    margin-top: 1rem;

    font-size: 1.5rem;
  }

  .pastor-heading::after {
    min-width: 200px;
    width: 215px;
  }
}
