.inner-container{
    display: flex;
    padding: 0 7%;
    position: relative;
    align-items: center;
    
}



.content-quote{
    margin-left: -40px;
    z-index: 1;
}


.inner{
    background: hsl(0, 0%, 25%);
    padding: 80px 0 80px 80px;
    position: relative; 

}

.inner::after{
    content: "";
    width: 51.999vw;
    background: hsl(0, 0%, 25%);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.inner .hr{
    position: relative;
    overflow: visible;
    width: 44.999vw;
    background-color: rgb(255, 255, 255);
}

/* .inner hr::after{
    content: "";
    width: 46.30vw;
    height: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: -.998px;
    left:0;
    right: 0;
    z-index: 1;
} */

.quote{
    margin-top: 2rem;
    line-height: 1.8;
}

.img-quote{
    background: url("/images/Quote.jpg") center center no-repeat;
    width: 20rem;
    height: 20rem;
    flex: 0 0 50%;
    position: relative;
    z-index: 2;
}

@media(max-width: 670px){

    .inner-container{
        display: flex;
        padding: 0;
        position: relative;
        align-items: center;
        border-top: 1px solid ;
        border-color:  hsl(0, 0%, 25%);
    }
    

    .inner-container{
        position: relative;
        flex-wrap: wrap;
        border: none;
        margin: 0 auto  ;
    }

    .content-quote{
        margin-top: -40px;
        z-index: 1;
        margin-inline: 0;
    }

    .inner{
        background: hsl(0, 0%, 25%);
        padding: 80px 20px 60px 40px;
        position: relative; 
        text-align: left;

    }

    .inner .hr{
        position: relative;
        overflow: visible;
        width: 79vw;
        background-color: rgb(255, 255, 255);
    }
    

    .inner{
        overflow: visible;
    }

    .inner::after{
      display: none;
    }
    

    .img-quote{
        background: url("/images/Quote.jpg") center center no-repeat;
        position: relative;
        flex-grow: 1;
        max-width: 90vw;
        margin: 0 auto;
        z-index: 2;
    }
}

