.Visit-hero {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.Visit-hero-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.btn-visit {
  background-color: #e0985a;
  font: inherit;
  font-size: 16px;
  filter: brightness(120%);
  color: #fff !important;
  border: 0;
  border-radius: 7px;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.main-visit {
  position: relative;
}

.visit-first-bg {
  background: url("../public/images/about.jpg");
}
.visit-second-bg {
  background: url("../public/images/identity.jpg");
}
.visit-third-bg {
  background: url("../public/images/mission.jpg");
}

.bt-border::after {
  content: "";
  padding: 8px;
  border-bottom: solid #e0985a;
  border-bottom-width: 6px;
  position: absolute;
  left: 54rem;
  right: 54rem;
  bottom: 50%;
}

.hr-visit__1 {
  width: 10vw;
  height: 5px;
  background-color: #e0985a;
  border: none;
}

.visit-first-text,
.visit-second-text {
  max-width: 50%;
}

@media (max-width: 968px) {
  .Visit-hero {
    flex-direction: column;
  }

  .Visit-hero-info {
    margin-bottom: 2rem;
  }

  .visit-first-bg {
    background: url("../public/images/about.jpg") center;
  }
  .visit-second-bg {
    background: url("../public/images/identity.jpg") center;
  }
  .visit-third-bg {
    background: url("../public/images/mission.jpg") center;
  }

  .Visit-hero-info {
    margin: 1rem 0;
  }
}
