

.next-container{
    max-width: 1900px;
    display: flex;
    padding-left: 10vw;
    align-items: center;
}
.next-card{
    max-width: 43vw ;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    position: relative;
    transform: translateY(-100px); 
    padding: 80px 80px 60px 80px;
}


.next-card::after{
    content: "";
    position: absolute;
    right: 30vw;
    top: 0;
    width: 30vw;
    background: #ffffff;
    height: 100%;
    z-index: -1;

}

.next-container hr{
    position: relative;
    overflow: visible;
    width:81vw;
    right: 50vw;
    height: 3px;
    background-color: black;
}

.quote-next{
    padding: 1rem 0;
    line-height: 1.8;
}


.join-btn{
    margin: 0;
    margin-top: 1rem;
    background-color: #e0985a;
    font: inherit;
    font-size: 16px;
    filter: brightness(120%);
    color: #fff !important;
    border: 0;
    border-radius: 7px;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.img-next-container{
    z-index: 11;
    margin-left: -50px;
}

.imgs-next{
    background: url("/images/cellGroup.jpg") center center no-repeat;
    position: relative;
    width: 30vw;
    height: 40vh;
    flex: 0 0 50%;
    background-size: cover;
    margin: 0 auto;
    transform: translateY(-100px);  
    box-shadow: rgb(0 0 0 / 45%) 0 10px 10px;

}


@media (max-width: 1000px){
    .next-container{
        flex-direction: column;
        margin: 0 auto;
        padding: 0;

    }

    .next-container hr{
        position: relative;
        overflow: visible;
        width:76vw;
        right: 0;
        height: 3px;
        background-color: black;
    }

    .next-card{
        max-width: 80%;
        padding: 1rem;
        order: 2;
    }
    .next-card::after{
       display: none;
    }

    .img-next-container{
        margin-left: 0;
    }

    .imgs-next{
        order: 1;
        width: 80vw;
        height: 50vh;
    }
}

@media (max-width: 560px){

    
    .next-container hr{
        display: block;
        width:80vw;

    }

    .next-card{
        max-width: 88% ;
        padding: 1rem;
    }

}

